<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
	<title>Forms2</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://code.angularjs.org/1.2.16/angular.min.js"></script>
	<script>
		angular.module('exampleApp', [])
			.controller('defaultCtrl', function ($scope) {
				$scope.requireValue = true;
				$scope.matchPattern = new RegExp("^[^a-z]");
			});
	</script>
</head>
<body>
	<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
		<form name="myForm" novalidate>
			<div class="well">
				<div class="form-group">
					<label>Text:</label>
					<input name="sample" class="form-control" ng-model="inputValue" ng-required="requireValue" ng-minlength="3" ng-maxlength="10" ng-pattern="matchPattern">
				</div>
				<div class="checkbox">
					<label>
						<input name="sample2" type="checkbox" ng-model="checkValue" ng-true-value="Hurrah!" ng-false-value="Boo!">This is a checkbox
					</label>
				</div>
				<div class="form-group">
					<textarea name="sample3" cols="40" rows="3" ng-model="textValue" ng-required="requireValue" ng-minlength="3" ng-maxlength="10" ng-pattern="matchPattern"></textarea>
				</div>
			</div>
			<div class="well">
				<p>Required Error: {{myForm.sample.$error.required}}</p>
				<p>Min Length Error: {{myForm.sample.$error.minlength}}</p>
				<p>Max Length Error: {{myForm.sample.$error.maxlength}}</p>
				<p>Pattern Error: {{myForm.sample.$error.pattern}}</p>
				<p>Element Valid: {{myForm.sample.$valid}}</p>
				<br>
				<p>Model Value: {{checkValue}}</p>
				<br>
				<p>Required Error: {{myForm.sample3.$error.required}}</p>
				<p>Min Length Error: {{myForm.sample3.$error.minlength}}</p>
				<p>Max Length Error: {{myForm.sample3.$error.maxlength}}</p>
				<p>Pattern Error: {{myForm.sample3.$error.pattern}}</p>
				<p>Element Valid: {{myForm.sample3.$valid}}</p>
			</div>
		</form>
	</div>
</body>
</html>