<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
	<title>Directives</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://code.angularjs.org/1.2.16/angular.min.js"></script>
	<script>
		angular.module('exampleApp', [])
			.controller('defaultCtrl', function ($scope) {
				$scope.data = {};

				$scope.todos = [
					{ action: "Get groceries", complete: false },
					{ action: "Call plumber", complete: false },
					{ action: "Buy running shoes", complete: true },
					{ action: "Buy flowers", complete: false },
					{ action: "Call family", complete: false }];

				$scope.viewFile = function () {
					return $scope.showList ? "list.html" : "table.html";
				};

				$scope.reportChange = function () {
					console.log("Displayed content: " + $scope.viewFile());
				};
			});
	</script>
	<style>
		.odd {
			background-color: lightcoral;
		}

		.even {
			background-color: lavenderblush;
		}
	</style>
</head>
<body>
	<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
		<h3 class="panel-header">To Do List</h3>
		There are <span class="ng-bind: todos.length"></span> items
		<div ng-cloak>There are {{todos.length}} items</div>
		<div>There are <span ng-bind="todos.length"></span> items</div>
		<div ng-bind-template="First: {{todos[0].action}}. Second: {{todos[1].action}}"></div>
		<div ng-non-bindable>AngularJS uses {{ and }} characters for templates</div>

		<div class="well">
			<div ng-cloak>The first item is: {{todos[0].action}}</div>
		</div>

		<div class="form-group well">
			<label for="firstItem">Set First Item:</label>
			<input name="firstItem" class="form-control" ng-model="todos[0].action">
		</div>

		<div class="well">
			<div class="checkbox">
				<label><input type="checkbox" ng-model="showList">Use the list view</label>
			</div>
		</div>
		<ng-include src="viewFile()" onload="reportChange()"></ng-include>
		<div ng-include="viewFile()" onload="reportChange()"></div>

		<div class="well">
			<div class="radio" ng-repeat="button in ['None', 'Table', 'List']">
				<label>
					<input type="radio" ng-model="data.mode" value="{{button}}" ng-checked="$first" ng-cloak>{{button}}
				</label>
			</div>
		</div>

		<div ng-switch on="data.mode" ng-cloak>
			<div ng-switch-when="Table">
				<ng-include src="'table.html'"></ng-include>
			</div>
			<div ng-switch-when="List">
				<ng-include src="'list.html'"></ng-include>
			</div>
			<div ng-switch-default>Select another option to display a layout</div>
		</div>
	</div>
</body>
</html>